/* index body*/
.index-body, .om-mig-body {
    font-family: Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: #433878;
}

/* text  */
h1, h2, .paragraph-section, .left-section {
    position: relative;
    z-index: 2;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #FFE1FF;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}


.left-section {
    position: fixed;
    top: 20px;
    left: 20px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 150px;
    margin-right: 20px;


}

/* knapp */
.btn {
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.);
    color: #121212;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    
    ;
}

.btn:hover {
    background-color: #d6d5d5;
}

/* paragraf sektion */
.paragraph-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border-style: solid;
    border-color: #121212;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}
.bild {

    margin: 10px;
    border-style: solid;
    border-radius: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* lista */
ul {
    list-style-type: none;
    padding: 0;
}
ol {
    font-style: italic;
}

li {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #121212;
}

/* Länkar */
a {
    color: #2e8b57;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {

    height: 3px;
    background-color: #121212;
    border-radius: 100px;

}
